!!! html
%html
  %head
  %title
    = I18n.t(:title)
  = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
  = javascript_include_tag 'application', data: { turbolinks_track: true }
  = csrf_meta_tags 
  %link{ href: 'http://fonts.googleapis.com/css?family=Lato:300,400', rel: 'stylesheet', type: 'text/css' }

%body
  = render partial: 'nav_header'
  = yield